<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1096432412677-h15miqopjlbugfs11bvlg6f7eigpjat0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1096432412677-h15miqopjlbugfs11bvlg6f7eigpjat0</string>
	<key>API_KEY</key>
	<string>AIzaSyBCMxTy8giLvKFLAm-K4ozCemZXbs5yQs8</string>
	<key>GCM_SENDER_ID</key>
	<string>1096432412677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.higuchiryunosuke.Doggable</string>
	<key>PROJECT_ID</key>
	<string>doggable-442b0</string>
	<key>STORAGE_BUCKET</key>
	<string>doggable-442b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096432412677:ios:8f89e9e513f6e23a55146c</string>
	<key>DATABASE_URL</key>
	<string>https://doggable-442b0.firebaseio.com</string>
</dict>
</plist>